@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,300;0,400;1,200&display=swap');

.cover {
    background-image: url(img/cover.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#hero {
    font-family: 'Bebas Neue', sans-serif;
}

.address {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

*{
    font-family: 'Raleway', sans-serif;
}

.cardchisiamo {
    margin: auto;
    width: 90%;
    background-color: rgba(0, 0, 0, 0.701);
    color: white;
}
